@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

html {
    height: 100vh;
}
body {
    background-color: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}

#wholeContainer {
    width: 70%;
    justify-content: center;
    margin: 5% 0 0 15%;
    z-index: 1;
}

table {
    background-color: thistle;
    border-collapse: collapse;
    margin: 5px;
}

#notesContainer {
    flex-direction: row;
}

#notesWrapper {
    margin: 10px;
    display: flex;
    justify-content: start;
}

#notes {
    font-family: 'Quicksand', sans-serif;
    width: 75%;
}


input[type=submit]{
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    font-size: 20pt;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 10px;
}

#completeNotesContainer{
    height: 40em;
    overflow-y: scroll;
    background-color: teal;
    border-radius: 10px;
    overflow-x: hidden;
}

.list {
    width: 99%;
}

/* todo items, edit button and delete buttons are all td, they are cells */


td{
    font-family: 'Quicksand', sans-serif;
    font-size: 24pt;
    border: 3px solid teal;
    height: 45px;
}


td:hover {
    -moz-box-shadow:    inset 0 0 5px teal;
    -webkit-box-shadow: inset 0 0 5px teal;
    box-shadow:         inset 0 0 5px teal;
}
#submitButtonDiv {
    margin: 0 0 0 15px;
}

.button {
    display: flex;
    justify-content: center;
    font-size: 18pt;
    margin: 5px;
    float: right;
    border-radius: 5px;
    background-color: ddd;
    padding: 10px;
}

#notesRow {
    width: 88%;
}
